﻿@model GarageBussines.Models.GarageInfo;
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Test key")
            </th>
        </tr>
         <tr>
             <th>
                 @Html.DisplayFor(modelItem => Model.TestKey)
             </th>
         </tr>

    </table>
</div>

